.percenter{
    display: block;
}

.none{
    display: none;
}

.bottom_container{
    padding-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #616161;
    white-space: nowrap;
}
